@import "tailwindcss";

@font-face {
    font-family: font300;
    src: url(../public/Lausanne-300.woff2);
}

@font-face {
    font-family: font500;
    src: url(../public/Lausanne-500.woff2);
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navOverlay {
    animation-name: navMove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.closeMenu:hover div {
    background-color: #D3FD50;
    transition: background-color 0.2s ease;
}

.moveNav {
    /* opacity: 0; */
    transition: all ease 0.3s;
}

.navBar:hover .moveNav {
    opacity: 1;
    height: 100%;
    display: flex;

}

@keyframes navMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}



.workDiv{
    transition: all 0.2s ease;
}

.workDiv:hover{
    border-radius: 30px;
}

.workDiv div{
    transition: all 0.2s ease-in-out;
}

.workDiv:hover div{
    opacity: 1;
}
