@import "tailwindcss";

@font-face {
    font-family: font300;
    src: url(../public/Lausanne-300.woff2);
}

@font-face {
    font-family: font500;
    src: url(../public/Lausanne-500.woff2);
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}