@import "tailwindcss";

@font-face {
    font-family: font300;
    src: url(../public/Lausanne-300.woff2);
}

@font-face {
    font-family: font500;
    src: url(../public/Lausanne-500.woff2);
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navOverlay{
    animation-name: navMove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.navBar:hover .moveNav{
    display: flex;
    height: 100%;
    transition: all;
}

@keyframes navMove {
   from {
    transform: translateX(0); 
  }
  
  to {
    transform: translateX(-100%);
  }
}